doctype html
html
	head
		meta(name='viewport', content="width=device-width, initial-scale=1.0, maximum-scale=1.3, minimum-scale=0.5, user-scalable=yes")
		meta(name='apple-mobile-web-app-capable', content="yes")
		title= title
		link(rel='stylesheet', href='/stylesheets/client.css')
		script(src='/javascripts/kinetic-v4.4.1.min.js')
		script(src='/javascripts/Util.js')
		script(src='/javascripts/Map.js')
		script(src='/javascripts/MapUnitDisplay.js')
		script(src='/javascripts/MapDisplay.js')
		script(src='/javascripts/adminMapColor.js')
		script(src='/javascripts/adminMapImages.js')
		script(src='/javascripts/adminMapDraw.js')
		script(src='/javascripts/adminMapEdit.js')
	body(  onload="init()", style="background-color: rgb(209, 172, 85);" )
		div#canvasMap( style="position:absolute; top:0px;left: 0px" )
		div#mapUnits( style="position:absolute; top:0px;left: 0px" )
		a#saveMap(href="#", style="position:absolute; top:10px;left: 1000px" )
			span Etablir cette carte en tant que nouvelle carte
		/* pass wizard id to client */
		input(type="hidden", id="wizardId", value= wizard)
		input(type="hidden", id="gameId", value= gameId)
		span#controlAdminEditMap
			table
				each val in [0, 1, 2, 3, 4, 5, 6, 7]
					tr
						td 
							image(src='images/terrain' + val +'.png' onclick='adminEditControl(' + val + ')'  id='mapEditControl' + val class='menu' title='Change terrain')
				tr
					td 
						image(src='images/tower.png' onclick='adminEditControl(20)'  id='mapEditControl20'  class='menu' title='Move a tower')
				tr
					td 
						image(src='images/toolMove.png' onclick='adminEditControl(21)'  id='mapEditControl21'  class='menu' title='Move a place')
				tr
					td 
						image(src='images/toolAddPlace.png' onclick='adminEditControl(22)'  id='mapEditControl22'  class='menu' title='Add a new Place')
