doctype html
html
	head
		//meta(name='viewport', content="width=device-width, initial-scale=1.0, maximum-scale=1.3, minimum-scale=0.5, user-scalable=yes")
		meta(name='viewport', content="initial-scale=1.0, maximum-scale=1.3, minimum-scale=0.5, user-scalable=yes")
		meta(name='apple-mobile-web-app-capable', content="yes")
		title= title
		link(rel='stylesheet', href='/stylesheets/client.css')
		script(src='/javascripts/Util.js')
		script(src='/javascripts/Map.js')
		script(src='/javascripts/MapUnitDisplay.js')
		script(src='/javascripts/MapDisplay.js')
		script(src='/javascripts/MapActDisplay.js')
		script(src='/javascripts/clientOrderInput.js')
		script(src='/javascripts/client.js')
		script(src='/javascripts/clientMenu.js')
		script(src='/javascripts/Messages.js')
	body(  onload="init()")
		span#map(class="mapParent" )
		div#menuOpen
			div#menuOpenClose(class="menuNavigate")
				|+
		div#menuParent
		div#menuFloating
		div#menuChooseWizard
		div#menuChooseSupport
		div#viewIncomes
		div#viewTerrainRules
		span#debugtext
		input(type="hidden", id="wizardId", value= wizard)
